.dashboard {
  width: 95%;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.dashboard-line {
  display: inline-flex;
  width: 100%;
  /*flex: 4;*/
}

.dashboard-card {
  width: 35%;
  margin: 0 20px;
}

.dashboard-bar {
  margin: auto;
  width: 95%;
}

.dashboard-pie{
  width: 45%;
  margin: auto;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.category-metrics {
  margin-top: 20px;
}
