.dashboard {
  width: 95%;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.dashboard-line {
  display: inline-flex;
  width: 100%;
}

.dashboard-card {
  width: 35%;
  margin: 0 20px;
}

.dashboard-bar {
  margin: auto;
  width: 95%;

  mat-card-content {
    height: 500px;

    canvas {
      margin: auto;
      width: 100%;
    }
  }
}

.dashboard-pies {
  margin: auto;
  width: 95%;

  mat-card-content {
    height: 800px;
  }

  mat-card-content {
    height: 500px;
    margin-bottom: 100px;

    canvas {
      margin: auto;
      width: 100%;
    }
  }
}

.dashboard-pie {
  width: 100%;

}


.disabled-shadow {
  mat-card {
    box-shadow: none;
  }
}

.category-metrics {
  margin-top: 20px;
}
