<!--<p>dashboard works!</p>-->

<div class="col-12 text-center mt-4">
  <button class="btn btn-primary" (click)="downloadPdf()">Download as PDF</button>
</div>

<div id="dashboard-content" class="dashboard">
  <h2>Dashboard</h2>

  <div class="dashboard-line">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Average Response Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ (analyticsData$ | async)?.averageResponseTime }} hours</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Average Completion Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ (analyticsData$ | async)?.averageCompletionTime }} hours</p>
      </mat-card-content>
    </mat-card>


    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Case Resolution Rate</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ ((analyticsData$ | async)?.caseResolutionRate || 1) * 100 | number:'1.2-2' }}%</p>
      </mat-card-content>
    </mat-card>

    <!--<mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Public Satisfaction Score</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ (analyticsData$ | async)?.publicSatisfactionScore }} / 5</p>
      </mat-card-content>
    </mat-card>-->
  </div>


  <mat-card class="dashboard-bar mt-3">
    <mat-card-header>
      <mat-card-title>Cases Resolved Per Month</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart
              [datasets]="(barChartData$ | async) || undefined"
              [labels]="(barChartLabels$ | async) || undefined"
              [options]="{ responsive: true }"
              [legend]="true"

              [type]="barChartType">
      </canvas>
    </mat-card-content>
    <mat-card-actions>
      <mat-button-toggle (click)="toggleChart()">Toggle</mat-button-toggle>
    </mat-card-actions>
  </mat-card>

  <mat-card class="dashboard-bar mt-3">
    <mat-card-header>
      <mat-card-title>Average Metrics by Category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart
              [datasets]="(combinedCategoryData$ | async) || undefined"
              [labels]="(categoryChartLabels$ | async) || undefined"
              [options]="{ responsive: true }"
              [legend]="true"

              [type]="'bar'">
      </canvas>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-pies mt-3">
    <mat-card-header>
      <mat-card-title>Service Request Distribution by</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="dashboard-line mt-3 disabled-shadow">
        <mat-card class="dashboard-pie">
          <mat-card-header>
            <mat-card-title>Category</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <canvas baseChart
                    [datasets]="(categoryCountData$ | async) || undefined"
                    [labels]="(categoryChartLabels$ | async) || undefined"
                    [options]="{ responsive: true }"
                    [legend]="true"
                    [type]="'pie'">
            </canvas>
          </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-pie smaller">
          <mat-card-header>
            <mat-card-title>Priority</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <canvas baseChart
                    [datasets]="(priorityCountData$ | async) || undefined"
                    [labels]="(priorityCountLabels$ | async) || undefined"
                    [options]="{ responsive: true }"
                    [legend]="true"
                    [type]="'pie'">
            </canvas>
          </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-pie smaller">
          <mat-card-header>
            <mat-card-title>Status</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <canvas baseChart
                    [datasets]="(statusCountData$ | async) || undefined"
                    [labels]="(statusCountLabels$ | async) || undefined"
                    [options]="{ responsive: true }"
                    [legend]="true"
                    [type]="'pie'">
            </canvas>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
