.track-requests {
  width: 90%;
  justify-content: center;
  margin: auto;
}

.track-requests-btn-create {
  margin-bottom: 20px;
}

.track-requests-filter-pannel {
  margin-bottom: 20px;
}

mat-panel-title {
  font-size: 20px;
  height: 80px;
}

mat-expansion-panel-header {
  height: 60px;
}

.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

td {
  padding: 20px 10px;
}

.observations {
  width: 40%;
}

.track-requests-filter-field {
  margin-right: 10px;
}

.track-requests-filter-btn {
  margin-right: 10px;
}
