.register {
  text-align: center;
}

.register-body-field {
  width: 20rem;
}

.register-body-field-container {
  margin-bottom: 0.4rem;
}

.register-body-field-container-birthdate {
  margin-bottom: 0.8rem;
}

.register-body-field-container-phone {
  display: flex;
  flex-direction: row;

  justify-content: center;

  margin-bottom: 0.5rem;
}

.register-body-field-code {
  width:9rem;
  margin-right: 1rem;
}

.register-body-field-number {
  width: 10rem;
}

.register-body-form-error {
  color: #f44336;
  margin-bottom: 0.5rem;
}
